<form>
 <label>First Name</label> <input type="text" class="first_name" value="{{first_name}}">
 <label>Last Name</label> <input type="text" class="last_name" value="{{last_name}}">
 <input type="submit">
</form>